*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
textarea{
    width: 100%;
    height: 200px;
    background-color: rgb(95, 93, 93);
    color: white;
    font-size: 20px;
}
iframe{
    background-color: rgb(95, 93, 93);
    height:660px;
    width: 420px;
    position: absolute;
    top: 22.5px;
    left: 900px;
    color: white;
}
.iframe_label{
    position: relative;
    top: -694px;
    left: 780px;
}
